{% extends 'base.html.twig' %}

{% block title %} {% trans %}Issue View Page{% endtrans %} {% endblock %}

{% block body %}

    {% if issue is defined %}
        <p>
            <a href="javascript:history.back()">{% trans %}Back{% endtrans %}</a>
        </p>

        <p>
            <a href="{{ path('_project_view', {'projectId': issue.project.id}) }}">{{ issue.project.label }}</a> /
            {% if issue.parent %}
                <a href="{{ path('_issue_view', {'issueId': issue.parent.id}) }}">{{ issue.parent.code }} {{ issue.parent.summary }}</a> /
            {% endif %}
            {{ issue.code }}
        </p>
        <h3>
            {{ issue.summary }}
        </h3>

        <p>
            <a class="btn btn-primary" href="{{ path('_issue_update', {'issueId': issue.id}) }}">{% trans %}Edit Issue{% endtrans %}</a>
        </p>

        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">{% trans %}Details{% endtrans %}</div>
                    <div class="panel-body">
                        <p>{% trans %}Type{% endtrans %}: {{ issue.type|trans }}</p>
                        <p>
                            {% trans %}Assignee{% endtrans %}: <a href="{{ path('_user_view', {'userId': issue.assignee.id}) }}">{{ issue.assignee.fullname }}</a>
                        </p>
                        <p>
                            {% trans %}Reporter{% endtrans %}: <a href="{{ path('_user_view', {'userId': issue.reporter.id}) }}">{{ issue.reporter.fullname }}</a>
                        </p>
                        <p>{% trans %}Priority{% endtrans %}: {{ issue.priority|trans }}</p>
                        <p>{% trans %}Status{% endtrans %}: {{ issue.status|trans }}</p>
                        <p>{% trans %}Resolution{% endtrans %}: {{ issue.resolution|trans }}</p>
                        <p>
                            {% trans %}Created{% endtrans %}: {{ issue.created|date('m/d/Y H:i', app.user.timezone) }}
                        </p>
                        {% if issue.updated %}
                            <p>
                                {% trans %}Updated{% endtrans %}: {{ issue.updated|date('m/d/Y H:i', app.user.timezone) }}
                            </p>
                        {% endif %}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">{% trans %}Description{% endtrans %}</div>
                    <div class="panel-body">
                        {{ issue.description }}
                    </div>
                </div>
                {% if issue.children is not empty %}
                    <div class="panel panel-default">
                        <div class="panel-heading">{% trans %}Sub-Tasks{% endtrans %}</div>
                        <div class="panel-body">
                            <ul>
                                {% for child in issue.children %}
                                    <li><a href="{{ path('_issue_view', {'issueId': child.id}) }}">{{ child.code }} - {{ child.summary }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-heading">{% trans %}Comments{% endtrans %}</div>
                    <div class="panel-body">
                        {{ include('OroIssueBundle:Comment:list.html.twig', { 'issue': issue }) }}
                        <div class="panel panel-info">
                            <div class="panel-heading"><strong>{% trans %}Add New Comment{% endtrans %}</strong></div>
                            <div class="panel-body">
                                {{ form_start(comment_form) }}
                                {{ form_widget(comment_form) }}
                                {{ form_end(comment_form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">{% trans %}Collaborators{% endtrans %}</div>
                    <div class="panel-body">
                        <ul>
                            {% for collaborator in issue.collaborators %}
                                <li>
                                    <a href="{{ path('_user_view', {'userId': collaborator.id}) }}">{{ collaborator.fullname }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {{ include('OroIssueBundle:Activity:list.html.twig', { 'activities': issue.activities }) }}
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var $form = $('form[name=issue_comment_create]');
        $form.submit(function(event) {
            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : $form.serialize(),
                success: function(html) {
                    $('#issue_comments_list').replaceWith(html);
                    $form.find('textarea').val('');
                }
            });
            event.preventDefault();
        });

        var editUrl = "{{ path('_issue_comment_update', { 'commentId': "0" }) }}";
        $('#issue_comments_list').parent().on('click', '.comment-edit', function(event) {
            var commentId = $(event.target).parent().attr('id');

            var $editForm = $form.clone();
            var commentBody = $('#comment-body-' + commentId).html();
            $editForm.find('textarea').val(commentBody);
            $('#comment-container-' + commentId).html($editForm);

            $editForm.submit(function(event) {
                $.ajax({
                    url : editUrl.replace("0", commentId),
                    type: $editForm.attr('method'),
                    data : $editForm.serialize(),
                    success: function(html) {
                        $('#issue_comments_list').replaceWith(html);
                    }
                });

                event.preventDefault();
            });
        });

        var deleteUrl = "{{ path('_issue_comment_delete', { 'commentId': "0" }) }}";
        $('#issue_comments_list').parent().on('click', '.comment-remove', function(event) {
            var commentId = $(event.target).parent().attr('id');

            $.ajax({
                url : deleteUrl.replace("0", commentId),
                type: 'POST',
                success: function(html) {
                    $('#issue_comments_list').replaceWith(html);
                }
            });
        });
    </script>
{% endblock %}