{% extends 'base.html.twig' %}

{% block title %} {% trans %}Users List{% endtrans %} {% endblock %}

{% block body %}
    {% if users is defined %}
        <h1>{% trans %}Users List{% endtrans %}</h1>
        <a href="{{ path('_user_create') }}">{% trans %}Add New User{% endtrans %}</a>
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans %}ID{% endtrans %}</th>
                    <th>{% trans %}Email{% endtrans %}</th>
                    <th>{% trans %}Username{% endtrans %}</th>
                    <th>{% trans %}Full Name{% endtrans %}</th>
                    <th>{% trans %}Role{% endtrans %}</th>
                    <th>{% trans %}Avatar{% endtrans %}</th>
                    <th class="text-center">{% trans %}Actions{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.username }}</td>
                        <td>
                            <a href="{{ path('_user_view', {'userId': user.id}) }}">{{ user.fullname }}</a>
                        </td>
                        <td>{{ user.role|trans }}</td>
                        <td><img class="thumbnail" src="{{ user.avatarWebPath }}" border="0" height="100" /></td>
                        <td class="text-center"><a href="{{ path('_user_update', {'userId': user.id}) }}">{% trans %}Edit{% endtrans %}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}