{% extends 'base.html.twig' %}

{% block title %} {% trans %}User Profile Page{% endtrans %} {% endblock %}

{% block body %}

    {% if user is defined %}
        <p>
            <a href="javascript:history.back()">{% trans %}Back{% endtrans %}</a>
        </p>

        {% if is_granted('ROLE_SUPER_ADMIN') or app.user.id == user.id %}
            <p>
                <a class="btn btn-primary" href="{{ path('_user_update', {'userId': user.id}) }}">
                    {% trans %}Edit User Profile{% endtrans %}
                </a>
            </p>
        {% endif %}

        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">{% trans %}User Information{% endtrans %}</div>
                    <div class="panel-body">
                        <p><img class="thumbnail" src="{{ user.avatarWebPath }}" border="0" height="100" /></p>
                        <p>{% trans %}Email{% endtrans %}: {{ user.email }}</p>
                        <p>{% trans %}Username{% endtrans %}: {{ user.username }}</p>
                        <p>{% trans %}Full Name{% endtrans %}: {{ user.fullname }}</p>
                        <p>{% trans %}Role{% endtrans %}: {{ user.role|trans }}</p>
                        <p>{% trans %}Created{% endtrans %}: {{ user.created|date('m/d/Y H:i', app.user.timezone) }}</p>
                    </div>
                </div>
                {% if issues is defined and issues %}
                    <div class="panel panel-default">
                        <div class="panel-heading">{% trans %}Assigned Issues{% endtrans %}</div>
                        <div class="panel-body">
                            <ul>
                                {% for issue in issues %}
                                    <li><a href="{{ path('_issue_view', {'issueId': issue.id}) }}">{{ issue.code }} - {{ issue.summary }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-4">
                {{ include('OroIssueBundle:Activity:list.html.twig', { 'activities': user.activities, 'user': app.user }) }}
            </div>
        </div>
    {% endif %}

{% endblock %}
